@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

.niche {
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-size: 33px;
}

.plpl {
    padding-bottom: 20px;
    text-decoration: underline;
    font-weight: bold;
    text-decoration: bold;
}

.yulu {
    background-color: aqua;
    color: black;
}

.bulu {
    background-color: blue;
}

.mobile {
    width: 130px;
    height: 110px;
    padding-bottom: 20px;
}

.okok {
    font-weight: bold;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 10px;
  width: 575px;
  font-weight: bolder;
  height: 50px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 30px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}